<h1>New Films</h1>
<form action="/films" method="post">
  <p>Enter a new film:</p>
  <input type='text' name='film[title]' title="Film's title" style="color:#888;" value="Film's title" onfocus="inputFocus(this)" onblur="inputBlur(this)"/><br/>
  <input type='text' name='film[date]' title="Film's date" style="color:#888;" value="Film's date" onfocus="inputFocus(this)" onblur="inputBlur(this)"/><br/>
  <input type='text' name='film[box_office_sales]' title="Film's box office sales" style="color:#888;" value="Film's box office sales" onfocus="inputFocus(this)" onblur="inputBlur(this)"/><br/>
  <input type='text' name='film[genre_id]' title="Film's genre id" style="color:#888;" value="Film's genre id" onfocus="inputFocus(this)" onblur="inputBlur(this)"/><br/>
  <input type='text' name='film[director_id]' title="Film's director id" style="color:#888;" value="Film's director id" onfocus="inputFocus(this)" onblur="inputBlur(this)"/><br/>
  <input type='submit'/>
</form>
